/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(8,59,76);
}

header{
    text-align: center;
    height: 150px;
    line-height: 150px;
}

header h1{
    color: white;
    font-size: 80px;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    margin: 15px;
    width: 120px;
    background-color: tomato;
    height: 120px;
}